zhongwei-edu.com, www.zhongwei-edu.com {
  encode zstd gzip
  reverse_proxy app:8080

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    Permissions-Policy "camera=(), microphone=(), geolocation=()"
    -Server
  }

  log {
    output stdout
    format console
  }
}

sparkluv-ai.cc, www.sparkluv-ai.cc {
  redir https://zhongwei-edu.com{uri} permanent
}
